<%- include("template/cabecera",{tituloWeb: "Inicio"}) %>
<div class="text-center">
    <h1 class="text-primary">Sauron,Ale y Mario</h1>
    <h2><%= titulo %></h2>

</div>

<%- include("template/footer") %>
